<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Archivio Richieste</title>
</head>
<body>
    <main>
        {% block content %}
        {% if user.is_authenticated %}
            <p><a href="{% url 'polls:account:logout' %}">Logout</a></p>
            <h1>Richieste da gestire</h1>
            <ul>
            {% for r in richieste_totali %}
                <li><a href="{% url 'polls:gestione' r.id %}">{{ r.nome }} {{ r.cognome }} - {{ r.matricola}}</a></li>
            {% empty %}
                <li>Nessuna richiesta da gestire</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You are not logged in</p>
        {% endif %}
        {% endblock %}
    </main>
</body>
</html>