<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{richiesta.nome}} {{richiesta.cognome}}</title>
</head>
<body>
    <h1>Dati Inseriti:</h1>
    <p> {{richiesta.studente.user.first_name}} </p><br>
    <p> {{richiesta.studente.user.last_name}} </p><br>
    <p> {{richiesta.studente.codice_fiscale}} </p><br>ù
    <p> {{richiesta.studente.matricola}} </p><br>
    <p> {{richiesta.tutor}}</p>
    <p> {{richiesta.data_inizio}}</p>
    <p> {{richiesta.data_fine}}</p>
    <p> {{richiesta.autocertificazione}} </p><br>
</body>
</html>