<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{richiesta.nome}} {{richiesta.cognome}}</title>
</head>
<body>
    {% load BASE_DIR %}
    <img src="BASE_DIR\templates\AttivitaProgettuale\Sigillo2015.png" />
    <h1>Dati Inseriti:</h1>
    <p>NOME: {{richiesta.studente.user.first_name}} </p>
    <p>COGNOME:  {{richiesta.studente.user.last_name}} </p>
    <p>CODICE FISCALE: {{richiesta.studente.codice_fiscale}} </p>
    <p>MATRICOLA: {{richiesta.studente.matricola}} </p>
    <p>TUTOR: {{richiesta.tutor}}</p>
    <p>DATA INIZIO: {{richiesta.data_inizio}}</p>
    <p>DATA FINE {{richiesta.data_fine}}</p>
    <p>AUTOCERTIFICAZIONE:
        {% if richiesta.autocertificazione %}
            <h2 style="color:green" >OK</h2>
        {% else %}
            <h2 style="color:red" >NOT GIVEN</h2>
        {% endif %}
    </p>
</body>
</html>