<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="it">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Moduli/base.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'Moduli/form.css'%}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />

    {% if not user.is_authenticated %}

        <meta http-equiv = "refresh" content = "2; url = {% url 'AttivitaProgettuale:mylogin' %}" />
    {% endif %}

    {% if user.groups.all.0.name != 'Studente' %}
        <meta http-equiv = "refresh" content = "2; url = {% url 'AttivitaProgettuale:mylogin' %}" />
    {% endif %}

    <meta charset="UTF-8">
    <title>Richiesta Attività Progettuale</title>
    <style type="text/css">
        .col-sm {
            float: left;
            text-align: right;
            padding-right: 5px;
            width: 25%;
            padding-top: 5px;
            font-weight: 700;
            display: inline;
        }
        .form-control{
            width: 50%;
        }


    </style>
    <script>
        function update_fields(){
            document.getElementById("id_data_inizio").type="date";
            document.getElementById("id_data_fine").type="date";
            var labels = document.getElementsByTagName('LABEL');
            for (var i = 0; i < labels.length; i++) {
                labels[i].classList.add("col-sm")
            }
        }

    </script>
    <script>
  $( function() {
    var availableTags = [
        {% for names in lista_prof %}
            "{{names}}",
        {% endfor %}
    ];
    $( "#id_tutor" ).autocomplete({
      source: availableTags
    });
  } );

  </script>
</head>
<body onload="update_fields()">
    {% if not user.is_authenticated %}
        <p>Devi fare il login prima di proseguire</p>
        <input type="hidden" name="next" value="/modulo/">

    {% elif user.groups.all.0.name != 'Studente' %}
        <p>Devi essere uno studente per poter inserire una richiesta</p>

    {% else %}
    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}


        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form %}
            {% if field.name != "autocertificazione" %}
                {% if field.name == "data_inizio" %}
                    <div class="form-row field-date" style="">
                        <label class="col-sm" style="">Data inizio e fine attività progettuale</label>

                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}

                        <div style="display: flex;align-items: baseline;justify-content: flex-start;width: 50%;">
                            <p style="width: fit-content;margin-left: 5%;">dal: </p>
                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" style="width: 15%;" required="true" %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" style="width: 15%;" required="true" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" style="width: 15%;" required="true" %}
                            {% endif %}



                {% elif field.name == "data_fine" %}

                            <p style="margin-left: 5%;">al: </p>
                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" style="width: 15%;" required="true" %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" style="width: 15%;" required="true" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" style="width: 15%;" required="true" %}
                            {% endif %}
                        </div>
                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% elif field.name == "durata" %}

                        <div class="form-row field-{{ field.name }}">
                            {{ field.label_tag }}
                            <div style="width: 50%;display: flex;align-items: center;justify-content: flex-start;">
                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        {% render_field field class="form-control is-invalid" style="width: 10%;text-align: center;" required="true" %}
                                    {% else %}
                                        {% render_field field class="form-control is-valid" style="width: 10%;text-align: center;" required="true" %}
                                    {% endif %}
                                {% else %}
                                    {% render_field field class="form-control" style="width: 10%;text-align: center;" required="true" %}
                                {% endif %}
                                <p style="width: fit-content;margin-left: 1%;">ore</p>

                            </div>
                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>

                {% elif field.name == "studente" %}
                    <div class="form-row field-{{ field.name }}">
                        {{ field.label_tag }}
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" placeholder="{{richiesta.studente.user.first-name}}" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    </div>

                {% else %}

                    <div class="form-row field-{{ field.name }}">
                        {{ field.label_tag }}
                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    </div>
                {% endif %}

            {% else %}
                <div class="form-row field-{{ field.nome }}">
                    {{ field.label_tag }}
                <table>
                    <tbody>
                    <tr style="height: auto;">
                        <td style="vertical-align: middle;">
                             {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" style="width: auto" required="true" %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" style="width: auto" required="true" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" style="width: auto" required="true" %}
                            {% endif %}
                        </td>
                        <td>
                            <p style="width : 50%">Consapevole delle sanzioni penali, nel caso di dichiarazioni non veritiere,
                                di formazione o uso di atti falsi, richiamate dall’art. 76 del D.P.R. 445 del 28 dicembre 2000
                                <b>DICHIARO</b>
                                di essere iscritto al Corso di Laurea X e di aver raggiunto i
                                140 CFU necessari per l’attivazione dell’attività progettuale. </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            {% endif %}

        {% endfor %}
        </div>
        <div class="submit-row">
            <button type="submit" name="_inviaDati" class="default" > Invia richiesta </button>
        </div>
    </form>
    {% endif %}
</body>
</html>
