body{
    width: 70%;
    height: fit-content;
    position: absolute;
    left: 15%;
    top: 5%;
    border: 1px solid var(--hairline-color);;
    border-radius: 20px;
}

.submit-row{
    border-radius: 0px 0px 20px 20px;
}